PORT=2204

GLOBAL_PREFIX=api/v1

# Invoice
INVOICE_PORT=2205
INVOICE_SERVICE_HOST=localhost
TCP_INVOICE_SERVICE_PORT=3001

# Product
PRODUCT_PORT=2206
PRODUCT_SERVICE_HOST=localhost
TCP_PRODUCT_SERVICE_PORT=3002

# User access
USER_ACCESS_PORT=2207
USER_ACCESS_SERVICE_HOST=localhost
TCP_USER_ACCESS_SERVICE_PORT=3003

# Authorizer
AUTHORIZER_PORT=2208
AUTHORIZER_SERVICE_HOST=localhost
TCP_AUTHORIZER_SERVICE_PORT=3004

# Database mongo configuration
MONGO_URL=mongodb://root:password@localhost:27017/
MONGO_DB_NAME=einvoice_local

# Database postgres configuration
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=postgres
TYPEORM_DATABASE=einvoice_local
TYPEORM_TYPE=postgres

# Keycloak
KEYCLOAK_HOST=http://localhost:8180
KEYCLOAK_REALM=einvoice-app
KEYCLOAK_CLIENT_ID=einvoice-app
KEYCLOAK_CLIENT_SECRET=edit this

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_TTL=1800000
